<div class="dash-controls">
    <div class="control-group-left">
        <div class="form-group period-control">
            <label for="year_selector">Ano:</label>
            <select id="year_selector" name="year_selector">
                {% for year in years %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group period-control">
            <label for="mesSelector">Mês:</label>
            <select id="mesSelector">
                <option value="">Todos</option>
            </select>
        </div>
    </div>

    <div class="search-container">
        {% include "coopesma/partials/search.html" %}
    </div>
    
    <div class="control-group-right">
        <div class="form-group period-control">
            <label for="tipoSelector">Tipo:</label>
            <select id="tipoSelector">
                <option value="all">Todos</option>
                {% for tipo in tipos %}
                    <option value="{{ tipo }}">{{ tipo }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group period-control">
            <label for="subtipoSelector">Subtipo:</label>
            <select id="subtipoSelector">
                <option value="all">Todos</option>
                {% for subtipo in subtipos %}
                    <option value="{{ subtipo }}">{{ subtipo }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group period-control">
            <label for="categoriaSelector">Categoria:</label>
            <select id="categoriaSelector">
                <option value="all">Todas</option>
                {% for categoria in categorias %}
                    <option value="{{ categoria }}">{{ categoria }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group period-control">
            <label for="itemSelector">Item:</label>
            <select id="itemSelector">
                <option value="all">Todos</option>
                {% for item in itens %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <button type="button" id="clearFiltersButton">Limpar Filtros</button>
        </div>
    </div>


</div>