<div class="cards-container">
  <div class="card info-card total-cooperados">
    <h3 class="card-title">Cooperados</h3>
    <p class="card-value" id="total-cooperados-value">0</p>
  </div>
  <div class="card info-card total-alunos">
    <h3 class="card-title">Alunos</h3>
    <p class="card-value" id="total-alunos-value">0</p>
  </div>
  <div class="card info-card rateio-mensal-bruto">
    <h3 class="card-title">Rateio Mensal Bruto</h3>
    <p class="card-value" id="ratio-mensal-bruto-value">R$ 0</p>
  </div>
  <div class="card info-card rateio-mensal-liquido">
    <h3 class="card-title">Rateio Mensal Líquido</h3>
    <p class="card-value" id="ratio-mensal-liquido-value">R$ 0</p>
  </div>
</div>