<div class="cards-container">
    <div class="card info-card total-alunos">
         <h3 class="card-title">Total de Alunos</h3>
        <p class="card-value" id="alunos-value">0</p>
    </div>

    <div class="card info-card total-rematriculados">
        <h3 class="card-title">Rematriculados</h3>
        <p class="card-value" id="rematriculados-value">0</p>
    </div>

    <div class="card info-card total-novos">
        <h3 class="card-title">Novas Matrículas</h3>
        <p class="card-value" id="novos-value">0</p>
    </div>

    <div class="card info-card total-naorematriculados">
        <h3 class="card-title">Não Rematriculados</h3>
        <p class="card-value" id="naorematriculados-value">0</p>
    </div>

</div>