<div class="cards-container">
    <div class="card total-cooperados">
        <h3>Cooperados</h3>
        <p class="card-value" id="total-cooperados-value">0</p>
    </div>
    <div class="card total-alunos">
        <h3>Alunos</h3>
        <p class="card-value" id="total-alunos-value">0</p>
    </div>
    <div class="card rateio-mensal-bruto">
        <h3>Rateio Mensal Bruto</h3>
        <p class="card-value" id="ratio-mensal-bruto-value">R$ 0</p>
    </div>
    <div class="card rateio-mensal-liquido">
        <h3>Rateio Mensal Líquido</h3>
        <p class="card-value" id="ratio-mensal-liquido-value">R$ 0</p>
    </div>

    <div class="card cooperar-plus">
        <h3>Captação Cooperar Plus</h3>
        <div id="cooperar-plus-value" class="value-container">
            <span id="absolute-value">0</span>
            <span id="percentage-value">0,00%</span>
        </div>
    </div>
    
</div>