<div class="cards-container">
    <div class="card total-receita">
        <h3>Previsão de Receita</h3>
        <p class="card-value" id="total-receita-value">R$ 0,00</p>
    </div>
    <div class="card total-despesa">
        <h3>Previsão de Despesa</h3>
        <p class="card-value" id="total-despesa-value">R$ 0,00</p>
    </div>
    <div class="card reajuste-rateio">
        <h3>Reajuste de Rateio Requerido</h3>
        <div id="reajuste-rateio-value" class="reajuste-rateio-value">
            <div id="percentage-reajuste-rateio-container">
                <span id="percentage-reajuste-rateio">0,0%</span>
            </div>
            <div id="absolute-reajuste-rateio-container">
                <span id="absolute-reajuste-rateio">R$ 0,00</span>
            </div>
        </div>
    </div>   
</div> 