<div class="cards-container">
    <div class="card total-alunos">
        <h3>Alunos Matriculados</h3>
        <p class="card-value" id="alunos-value">0</p>
    </div>

    <div class="card total-ideal-alunos">
        <h3>Nº Ideal de Vagas</h3>
        <p class="card-value" id="ideal-alunos-value">0</p>
    </div>

    <div class="card total-vagas-ofertadas">
        <h3>Vagas Ofertadas</h3>
        <p class="card-value" id="vagas-ofertadas-value">0</p>
    </div>

    <div class="card total-capacidade-alunos">
        <h3>Nº Máximo de Vagas</h3>
        <p class="card-value" id="capacidade-alunos-value">0</p>
    </div>
</div>