@import url('colors.css');
@import url('report.css');
@import url('dash.css');
@import url('period.css');
@import url('cards.css');
@import url('canvas.css');
@import url('range_years.css');
@import url('serie.css');

.total-alunos {
    border-left: 5px solid var(--color-primary1); /* Cor indicativa para receitas */
}

.total-rematriculados {
    border-left: 5px solid var(--color-secondary2); /* Cor indicativa para despesas */
}

.total-novos {
    border-left: 5px solid var(--color-highlight1); /* Cor indicativa para saldo orçamentário */
}

.total-naorematriculados {
    border-left: 5px solid var(--color-accent1); /* Cor indicativa para despesas */
}