@import url('table.css');
@import url('selector.css');


.table-container {
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

.table thead th {
    background-color: #f8f9fa;
    font-weight: bold;
    padding: 0.75rem;
    border-bottom: 2px solid #dee2e6;
}

.table tbody tr {
    border-top: 1px solid #dee2e6;
}

.table tbody td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table tbody tr:hover {
    background-color: #f1f3f5;
}


