@import url('colors.css');
@import url('report.css');
@import url('dash.css');
@import url('period.css');
@import url('cards.css');
@import url('canvas.css');
@import url('serie.css');


.total-alunos {
    border-left: 5px solid  var(--color-secondary2); 
}

.total-ideal-alunos {
    border-left: 5px solid var(--color-highlight2);
}

.total-vagas-ofertadas {
    border-left: 5px solid var(--color-primary1); 
}

.total-capacidade-alunos {
    border-left: 5px solid var(--color-accent2); 
}