<!-- Lista suspensa para selecionar o formulário -->
<div class="report-type-container">
    <div class="report-type">
        <label for="form_type">Formulário:</label>
        <select id="form_type" name="form_type">
            <option selected disabled>Selecione um formulário</option>
            <option value="/formulario/aplicacoes/">Saldo em Aplicação</option>
            <option value="/formulario/avaliacao/">Avaliação (Zenilza)*</option>
            <option value="/formulario/cargos_salarios/">Colaborador*</option>
            <option value="/formulario/controle/cooperados/">Cooperado</option>
            {% comment %} <option value="/formulario/despesas_administrativas/">Despesas Administrativas*</option> {% endcomment %}
            <option value="/formulario/detalhes_matriculas/">Matrícula*</option>
            {% comment %} <option value="/formulario/execucao_orcamentaria/">Execução Orçamentária*</option> {% endcomment %}
            {% comment %} <option value="/formulario/fates/">FATES*</option> {% endcomment %}
            {% comment %} <option value="/formulario/fluxo_caixa/">Fluxo de Caixa</option> {% endcomment %}
            <option value="/formulario/historico_matriculas/">Meta de Matrícula*</option>
            <option value="/formulario/ifes/">Aprovados no IFES*</option>
            {% comment %} <option value="/formulario/inadimplencia/">Inadimplência</option> {% endcomment %}
            <option value="/formulario/indicacao/">Indicação</option>
            {% comment %} <option value="/formulario/indicadores_financeiros/">Indicadores Financeiros</option> {% endcomment %}
            {% comment %} <option value="/formulario/ofertas_vagas/">Ofertas de Vagas</option> {% endcomment %}
            {% comment %} <option value="/formulario/parametros_funcionamento/">Parâmetros de Funcionamento</option> {% endcomment %}
            <option value="/formulario/planos_descontos/">Planos e Descontos*</option>
            <option value="/formulario/previsao_orcamentaria/">Previsão Orçamentária</option>
            {% comment %} <option value="/formulario/fates/projecao">Projeção FATES</option> {% endcomment %}
            {% comment %} <option value="/formulario/resultado_matriculas/">Resultado de Matrículas</option> {% endcomment %}
            <option value="/formulario/reajustes/">Reajuste Salarial*</option>
            <option value="/formulario/tercerizado/">Seviço/Fornecedor (Tatiane)*</option>
        </select>
    </div>
</div>
        