@import url('colors.css');
@import url('report.css');
@import url('dash.css');
@import url('cards.css');
@import url('canvas.css');
@import url('range_years.css');

/* Estiliza a div meta-control */
.meta-control {
    font-size: 24px; /* Tamanho da fonte para o label */
    display: flex; /* Alinha o label e o checkbox horizontalmente */
    align-items: center; /* Alinha o checkbox e o texto verticalmente */
}

/* Estiliza o checkbox */
.meta-control input[type="checkbox"] {
    width: 24px; /* Tamanho maior do checkbox */
    height: 24px; /* Tamanho maior do checkbox */
    margin-right: 10px; /* Espaço entre o checkbox e o label */
    cursor: pointer; /* Muda o cursor para pointer quando sobre o checkbox */
    accent-color: var(--color-highlight1); /* Define a cor de seleção para a mesma cor usada no gráfico */
}

.canvas-container {
    flex: 1 1 100% !important;
}

.canvas-grid {
    align-items: flex-start;
    background-color: none;
    margin-top: 2rem;
}

.canvas-grid canvas {
    width: auto !important;
    height: 100% !important;
 }

 .canvas-container {
    max-width: None !important;
    width: 100%;
    height: 70vh;  /* Ocupa 70% da altura da viewport */
    margin: 0 auto;
    position: relative;
}

.canvas-container canvas {
    width: 100% !important;
    height: 100% !important;
}

#canvas-container-wrapper {
    width: 100%;
    height: 100%;
}


