:root {
    --color-primary1: #003f5c;
    --color-primary2:  #2f4b7c;
    --color-secondary1: #665191;
    --color-secondary2: #a05195;
    --color-accent1: #d45087;
    --color-accent2: #f95d6a;
    --color-highlight1: #ff7c43;
    --color-highlight2: #ffa600;
    --color-selectbackground: #e6f7ff;
    --color-select: #1a73e8; 
}

