#clearFiltersButton {
    display: inline-block;
    width: 15rem;
    height: 4rem;
    margin-left: 2rem;
    background-color: var(--color-accent-orange-dark);
    color: var(--color-white);
    font-size: 1.6rem;
    font-family: var(--font-primary);
    text-align: center;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 1.2rem;
    box-shadow: 0 0.4rem 1.2rem var(--color-black);
    transition: transform 0.3s ease;
}

#clearFiltersButton:hover {
    background-color: var(--color-accent-orange);
}