{% extends "global/base.html" %}

{% block content %}
<div class="custom-form-wrapper">
  <div class="custom-form-card">
    <h2>Altere sua senha</h2>

    {% if info_message %}
        <div class="info-message">
            {{ info_message }}
        </div>
    {% endif %}

    <form method="POST" action="{{ form_action }}">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group tooltip-container">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
          <span class="tooltip-text">
                A senha deve ter pelo menos 8 caracteres, incluindo letra maiúscula, minúscula, número e caractere especial.
          </span>
          {% if field.errors %}
            <small class="error">{{ field.errors|striptags }}</small>
          {% endif %}
        </div>
      {% endfor %}
      <button type="submit">Alterar Senha</button>
      <div class="form-footer">
        <a href="{% url 'colaborador:logout_redirect' %}">Voltar para o login</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}

