{% extends 'global/base.html' %}

{% block content %}
<div class="main-content container">
  <div class="custom-form-wrapper">
    <div class="custom-form-card">
      <h2>Redefinir senha</h2>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          {{ form.email.label_tag }}
          {{ form.email }}
          {% if form.email.errors %}
            <span class="error">{{ form.email.errors.0 }}</span>
          {% endif %}
        </div>
        <div class="form-content form-content-grid">
          <div class="form-group">
            <button type="submit">Enviar email de redefinição</button>
          </div>
        </div>
        <div class="form-footer">
          <a href="{% url 'colaborador:logout_redirect' %}">Voltar para o login</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
