.dash-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: var(--color-gray-0);
    border-radius: 0.6rem;
    /* margin-bottom: 1rem; */
    font-family: var(--font-primary);
}