@import url('colors.css');
@import url('report.css');
@import url('dash.css');
/* @import url('canvas.css'); */

.canvas-container {
    width: 80vw; /* ou uma largura fixa como 800px */
    max-width: 100%;
    height: 100%;
    margin-top: 2rem;
    position: relative;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    box-sizing: border-box;
}

.canvas-container canvas {
    width: 100% !important;
    height: 100% !important;
}

#canvas-container-wrapper {
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}