@import url('colors.css');

.year-controls {
    display: flex;
    align-items: start;
}
.year-control {
    margin-right: 20px;
    font-size: 24px; 
}

.year-control select {
    font-size: 24px;
}

.year-control input {
    accent-color: var(--color-highlight1);
}