@import url('colors.css');
@import url('report.css');
@import url('dash.css');
@import url('period.css');
@import url('cards.css');
/* @import url('canvas.css'); */
@import url('serie.css');


.total-alunos {
    border-left: 5px solid  var(--color-secondary2); 
}

.total-ideal-alunos {
    border-left: 5px solid var(--color-highlight2);
}

.total-vagas-ofertadas {
    border-left: 5px solid var(--color-primary1); 
}

.total-capacidade-alunos {
    border-left: 5px solid var(--color-accent2); 
}

/* Canvas */
#canvas-container-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
}

.canvas-container {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: transform;
    transform: translateZ(0);
}

.canvas-container canvas {
  width: 100% !important;
  height: auto !important;
  max-width: 100%;
}

@media (min-width: 1200px) {
  #canvas-container-wrapper {
    grid-template-columns: repeat(2, 1fr); /* Dois gráficos por linha */
  }

  /* Se quiser que o gráfico myChart4 ocupe toda a linha: */
  .canvas-container#myChart4 {
    grid-column: span 2;
  }
}
